#middlefile
*.pyc
__pycache__
*.log
*.egg
*.pid
myspider/*
!myspider/myspider/*
!myspider/scrapy.cfg

#webdriver
webdriver/*
!webdriver/notes.txt
!webdriver/webdriver.zip

#sensitive config
myspider/myspider/privatesettings.py
