scrapy==1.5.1
scrapyd
scrapyd-client
psycopg2
pymongo
redis
scrapy-redis
scrapy-splash
requests
bs4
lxml
psutil
pyvirtualdisplay
selenium>=3.14.1
chardet>=2.3.0
gevent>=1.2.0
greenlet>=0.4.11
SQLAlchemy>=1.1.4
web.py==0.40.dev0
