[Unit]
Description=shadowsocks proxy server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/shadowsocks.pid
ExecStart=/usr/bin/python /usr/bin/ssserver -c /etc/shadowsocks/shadowsocks.json -d start
ExecStop=pkill -f shadowsocks
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=process
PrivateTmp=true

[Install]
WantedBy=multi-user.target
